/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

div.scrollspy-example > h4{
    color: #014687; !important;
}

div.scrollspy-example > hr{
    height: 3px; !important;
    background-color: #014687; !important;
}



